<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>document</title>
    <!--build:css css/main.min.css -->
    <link rel="stylesheet" href="css/main.css">
    <!-- endbuild -->
    <!--build:js js/main.min.js -->
    <script type="text/javascript" src="#"></script>
    <!-- endbuild -->
</head>
<body>
    <div class="container-fluid">
		//= include/header.html
    </div>
</body>
</html>